
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#header{
    background: grey;
    height: 85px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

#header h1{
    font-family: Gill Sans Extrabold, sans-serif;
    color: black;
    font-size: 35px;
}

#header svg{
    fill: black;
    stroke-width: 20px;
    min-width: 64px;
}

/* Kategorien */
.menu{
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

.menu>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rebeccapurple;
    flex-basis: 40%;
    height: 120px;
    max-width: 800px;
}
.menu>div>div{
    display: flex;
    background: #fdfffc;
    margin: auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.menu>div>div>div{
    display: block;
    margin: auto;
}

/* Boxes */
.kategorien{
    text-align: center;
    background-color: rebeccapurple;
    font-size: 40px;
    width: max-content;
    padding: 5px 20% 5px 20%;
    color: #fdfffc;
    margin: 10px auto 10px auto; 
}

.kategorien+p{
    display: none; 
}

.container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.productcontainer{
    flex-flow: column;
    align-items: center;
    display: flex;
    max-width: 400px;
    margin: 10px 2% 10px 2%;
    padding: 10px;
    /* border-color: #011627;
    border-bottom: solid;
    border-width: 10px; */
    justify-content: space-evenly;
}

.productcontainer p{
    font-size: 20px;
    padding: 10px;
    font-weight: 200;
    text-align: center;
}

.productcontainer button{
    border: none;
    background-color: #e71d36;
    color: #fdfffc;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
}



@media screen and (min-width: 913px){
    #search{
        display: inline-block;
        border: none;
        height: 40px;
        width: 290px;
    }
    #header{
        background: #011627;
        height: 85px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        justify-items: center;
        padding: 10px;
        position: sticky;
        top: 0;
    }
}

@media screen and (min-width: 1024px){
    .heading{
        text-align: center;
        background-color: #011627;
        font-size: 40px;
        width: 40%;
        padding: 5px 20% 5px 20%;
        color: #fdfffc;
        margin: 10px auto 5px auto; 
    }
    .heading+p{
        text-align: center;
        background-color: #011627;
        font-size: 25px;
        width: 40%;
        padding: 5px 20% 5px 20%;
        color: #fdfffc;
        margin: 0px auto 0px auto; 
        display: block;
    }
    #divAnzahl{
        visibility: hidden;
        background-color:  	#3CB371;
        color: white;
        position: fixed;
        right: 10px;
        top: 160px;
        height: 30px;
        width: 30px;
        border-radius: 10px;
        text-align: center;
    }
}